.landing {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--landing-bg);
}

.invertButton {
  color: var(--primary-font-color) !important;
}

.landingText {
  color: var(--primary-font-color);
}

/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .earth {
    animation: spin infinite 20s linear;
    overflow: hidden;
  }
} */

@media screen and (max-width: 900px) {
  .landing {
    height: 100%;
  }
}
