.footer {
  height: 60vh;
  overflow-x: hidden;
  background-image: url("../../assets/blue-mountains.png");
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .footer {
    height: 100%;
  }
}
