@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.cdnfonts.com/css/nunito-sans");

html,
body,
#root {
  overflow-x: hidden;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #00d186 #2b2b2b;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #2b2b2b;
}

body::-webkit-scrollbar-thumb {
  background: #00d186;
  border-radius: 3px;
}

#txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
